.d-emoji {
  object-fit: contain;
  width: 22px;
  height: 22px;
  vertical-align: bottom;
  display: inline-block;
}

.d-link {
  color: #60a5fa;
}

.d-link:hover {
  text-decoration: underline;
}

.d-code-block {
  margin-top: 6px;
  border: 1px solid rgba(100, 100, 100, 0.5);
  font-size: 14px;
}

.d-code-block,
.d-code-block code {
  border-radius: 4px;
}
