@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 475px;
}

@layer base {
  a {
    @apply text-blue-400;
  }
  a:hover {
    @apply underline;
  }
}

html {
  scroll-behavior: smooth;
}
