@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-400;
  }
  a:hover {
    @apply underline;
  }
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}
